$font-stack:    sans-serif;
$primary-color: #bada55;
$margin-y: 15px;
$ui-block-height: (1em * 13);
$ui-block-width: 100%;

.headline {
    // height: 30px;
    height: 1em;
    text-align: center;
    background-color: white;
}

div {
    height: $ui-block-height;
    width: $ui-block-width;
    background-color: $primary-color;
    font-size: 1em;
    font-family: mono;    
}

#gui {
    background-color: skyBlue;
    margin-bottom: $margin-y;

    canvas {
        height: 100%;
        width: 100%;
    }
}

// #grfx {
//     height: 100%;
//     width: 100%;
// }


#history {
    display: flex;
    flex-direction: column-reverse;
    height: (1em * 9);
    overflow-y: auto;
    div {
        display: flex;
        flex-shrink: 0;
        align-items: bottom;
        height: 1em;
        pre {
            margin: 0;
        }
    }
}

#cli {
    height: initial;
    #cl {
        width: 100%;
        background: rgba(white, 0.5);
        outline: 0;
        border: 0px;
    }
}

#tray {
    background-color: sienna;
    height: (1em * 3);
    pre {
        margin: 0;
    }
}
